header {
    border: solid black 1px;
}


left_section {
    margin-left:3%;
    width: 20%;
    height: 400px;
    float: left;
    border: solid black 1px;
}

section {
    margin-right: 3%px;
    float: right;
    width: 70%;
    border: solid black 1px;
}

footer {
    width: 100%;
    float: right;
    border: solid black 1px;
}

header h1 {
    text-align: center;
}

#time, #date {
    display: inline;   
    float: rig
}

.Carousel {
    max-width: 50%;
}

.Pizzas {
    width: 100%;
}

.nav {
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none; /* removes bullet points */
    margin:0;
    padding:0;
    text-align:center;
    background-color: lightgray;
    
}

.nav li {
    display:inline; /* gets links next to each other */
    
    
}

.nav a {
    display:inline-block; /* allows to add padding without going over other lines & makes the whole area clickable */
    padding:10px;
    text-decoration: none; /* removes underlines */
    color: red;
    
}

.nav li a.active {
    background-color: lightyellow;
}

.nav li a:hover:not(.active) {
    background-color: red;
    color: white;
}

