header {
    width: 100%;
    border: solid black 1px;
    
}

header img {
    width: 500px;
    display: block;
    margin: 0 auto;  
    padding: 10px;
    
}


offersBox {
    width: 40%;
    min-width: 600px;
    
    min-height: 240px;
    
    border: solid black 1px;
    display: block;
    margin: 0 auto;
    
    background-color: black;
    
    
}


.Pizzas {
    width: 100%;
}

left_section {
    /*margin-left:3%;*/
    width: 20%;
    height: 320px;
    float: left;
    border: solid black 1px;
    /*min-width: 200px;*/
}

section {
    min-width: 600px;
    width: 50%;
    border: solid black 1px;
    display: block;
    margin: 0 auto;
    /*min-width:400px;*/
}

footer {
    width: 100%;
    float: right;
    border: solid black 1px;
}

header h1, section h2 {
    text-align: center;
    
}

footer p {
    display:inline-block;
    margin: 0;
    
}
#time {
    border: double 4px red;
    padding: 2px;
    font-weight: bold;
}

footer #time, footer #date {
    
}

footer {
    text-align: center;
}

.nav {
    border:1px solid black;
    
    list-style:none; /* removes bullet points */
    margin:0;
    padding:0;
    text-align:center;
    background-color: lightgray;
    
}

.nav li {
    display:inline; /* gets links next to each other */
    
    
}

.nav a {
    display:inline-block; /* allows to add padding without going over other lines & makes the whole area clickable */
    padding:10px;
    text-decoration: none; /* removes underlines */
    color: red;
    
}

.nav li a.active {
    background-color: lightyellow;
}

.nav li a:hover:not(.active) {
    background-color: red;
    color: white;
}

#pizza_base, #toppings, #extras, #delivery_info {
    display: block;
    margin-bottom: 5px;
    background-color:lightcoral; 
}

#personal_info p {
    margin-left: 5px;
    width: 300px;
}
#personal_info input {
    float: right;
}

.your_order {
    background-color: lightgoldenrodyellow;
}

#myMap {
    width:80%;
    min-width: 600px;
    height:400px;
    margin: 0 auto;
}

